
.zerodha-footer {
  /* padding: 60px 0 20px; */
  background: #fbfbfb;
}

.zerodha-footer .container {
  max-width: 1100px;
  /* padding-top: 60px; */
}


.zerodha-footer .col p {
  margin-bottom: 12px;
  font-weight: 500;
  color: #666666;
}

.zerodha-footer .col a {
  display: block;
  font-size: 14px;
  color: #666;
  text-decoration: none;
}

.zerodha-footer .col a:hover {
  color: #387ed1;
}


.Social-links ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  display: flex;
  gap: 18px;
}

.Social-links a {
  font-size: 18px;
  color: #636363;
  text-decoration: none;
}

.Social-links a:hover {
  color: #387ed1;
}


.zerodha-footer .text-muted {
  margin-top: 40px;
  font-size: 12px;
  line-height: 1.7;
  color: #9b9b9b;
}



.text-muted .footer-pa {
  color: #387ed1;
  text-decoration: none;
}

.text-muted .footer-pa:hover {
  color: #000;
  text-decoration: underline;
}

.footer-links {
  margin-top: 40px;
  padding-bottom: 20px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 22px;
}

.footer-links a {
  font-size: 14px;
  color: #9b9b9b;
  text-decoration: none;
}

.footer-links a:hover {
  color: #387ed1;
}
