.nav-link{
    margin-left: 40px;
}

#supportHero{
    background-color: rgb(56,126,209);
    color: white;
}

#supportWrapper{
    display: flex;
    justify-content: space-between;
    margin :  0 150px;
}

#supportHero a{
    color: white;
}